body {
	margin: 10;
	padding: 10;
	background: #efefef;
	font-family: Verdana, sans-serif, Helvetica,  Arial ;
	font-size: 12px;
	color: #666666;
}

h1,h2,h3 {
	font-family: Verdana, sans-serif, Helvetica,  Arial ;
	color: #666666;
	text-decoration:underline;
}

hr {
	width: 83%;
	margin-left:0px;
}

.section{
	margin-left:30px;
	width: 80%;
	text-align: justify;
}

.boximage img
{
	width:32;
	height:32;
}

.section {
	margin-left:30px;
}

table{
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	width: 80%;
	margin-left:30px;
	border: 1px solid black;	
}

td, th {
	border: 1px solid black;
	background-color:#E6EDF5;
	padding:5px;	
	font-family: Verdana, sans-serif, Helvetica,  Arial ;
	font-size: 12px;
	color: #666666;	
}
th {
	background-color:#D6DDE5
}
img {
	border-width: 1px; 
	border-color: black;
	border-style: solid;				
}

li { margin-left:30px; }

a:link {
	text-decoration:		underlined;
	color:					#000000;

}
a:visited {
	text-decoration:		underlined;
	color:					#000000;
}
a:hover {
	text-decoration:		underlined;
	color:					#000000;
}
a:active {
	text-decoration:		none;
	color:					#000000;
}
a:focus {
	text-decoration:		none;
	color:					#000000;
}

#ecken img { position:absolute; }
#ecken img.eck1 { top:0; left:0; }
#ecken img.eck2 { top:0; right:0; }
#ecken img.eck3 { bottom:0; left:0; }
#ecken img.eck4 { bottom:0; right:0; }