<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings">
      <section name="Cryptool.CrypWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <userSettings>
    <Cryptool.CrypWin.Properties.Settings>
      <setting name="defaultEditor" serializeAs="String">
        <value>WorkspaceManager.WorkspaceManagerClass</value>
      </setting>
      <setting name="RelHeight" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="RelWidth" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="IsWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ReopenLastFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="logWindowAutoHide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DemoInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UpdateFlag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowRibbonBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAlgorithmsNavigation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAlgorithmsSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FixedWorkspace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBalloonLogMessagesInBalloon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowErrorLogMessagesInBalloon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoDownload" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoInstall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckPeriodically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckInterval" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value />
      </setting>
      <setting name="StopWorkspaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RunInBackground" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowInfoLogMessagesInBalloon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowWarningLogMessagesInBalloon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowDebugLogMessagesInBalloon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BallonVisibility_ms" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="LogVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="SettingVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="PluginVisibility" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="useDefaultEditor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="preferredEditor" serializeAs="String">
        <value>WorkspaceManager.WorkspaceManagerClass</value>
      </setting>
      <setting name="useLastPath" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReopenLastFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowStartcenter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SamplesDir" serializeAs="String">
        <value>Templates</value>
      </setting>
    </Cryptool.CrypWin.Properties.Settings>
  </userSettings>

  <!-- Load assemblies from given subdir -->
  <runtime>    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib;LibP2P;CrypPlugins"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
