<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KeySearcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>  
  <userSettings>
    <KeySearcher.Properties.Settings>
      <setting name="UseOpenCL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHighLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KeyPoolTreeZoom" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Anonymize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MachNameChars" serializeAs="String">
        <value>0</value>
      </setting>
    </KeySearcher.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
