<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PeersAtPlay.CertificateLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <PeersAtPlay.CertificateLibrary.Properties.Settings>
            <setting name="PCP_SERVER_ADDRESS" serializeAs="String">
                <value>monitor.vs.uni-due.de</value>
            </setting>
            <setting name="PCP_SERVER_PORT" serializeAs="String">
                <value>443</value>
            </setting>
            <setting name="CONNECTION_TIMEOUT" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="WEB_SERVER_ADDRESS" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="WEB_SERVER_PORT" serializeAs="String">
                <value>8080</value>
            </setting>
        </PeersAtPlay.CertificateLibrary.Properties.Settings>
    </applicationSettings>
</configuration>
