<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PeersAtPlay.P2POverlay.Chord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PeersAtPlay.P2POverlay.Chord.Properties.Settings>
            <setting name="RingRepairInterval" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="RingRepairIntervalFirst" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ConnectionGarbageCollectionInterval" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ConnectionGarbageCollectionIntervalFirst" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="ReplicaSyncInterval" serializeAs="String">
                <value>120000</value>
            </setting>
            <setting name="ReplicaSyncIntervalFirst" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="MaxSuccessors" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MaxPredecessors" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ConnectRetries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ForwardOverP2P" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BootstrapperResponseTimeout" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="JoinResponseTimeout" serializeAs="String">
                <value>20001</value>
            </setting>
            <setting name="BootstrapSeekTimeout" serializeAs="String">
                <value>20002</value>
            </setting>
            <setting name="VersionResponseTimeout" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="StoreResponseTimeout" serializeAs="String">
                <value>10002</value>
            </setting>
            <setting name="RetrieveResponseTimeout" serializeAs="String">
                <value>10003</value>
            </setting>
            <setting name="LockResponseTimeout" serializeAs="String">
                <value>20003</value>
            </setting>
            <setting name="ExitAndDataCopyResponseTimeout" serializeAs="String">
                <value>5004</value>
            </setting>
            <setting name="RangeQueryResponseTimeout" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </PeersAtPlay.P2POverlay.Chord.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
