<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PeersAtPlay.P2PStorage.WebDHT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PeersAtPlay.P2PStorage.WebDHT.Properties.Settings>
            <setting name="WebAddressBase" serializeAs="String">
                <value>https://papsql.vs.uni-due.de/papserver/</value>
            </setting>
            <setting name="ConnectionPoolSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DHTPath" serializeAs="String">
                <value>dht.php</value>
            </setting>
            <setting name="OverlaySendPath" serializeAs="String">
                <value>send.php</value>
            </setting>
            <setting name="OverlayReceivePath" serializeAs="String">
                <value>receive.php</value>
            </setting>
        </PeersAtPlay.P2PStorage.WebDHT.Properties.Settings>
    </userSettings>
</configuration>