<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CertServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CertServices.Properties.Settings>
            <setting name="PAP_CERT_SERIAL" serializeAs="String">
                <value>37cbb8163698c48845e9d5c80e3496b1</value>
            </setting>
            <setting name="CertificateSerialNumber" serializeAs="String">
                <value/>
            </setting>
            <setting name="PathToMakecert" serializeAs="String">
                <value>Batch\makecert.bat</value>
            </setting>
            <setting name="PathToPAPCert" serializeAs="String">
                <value>Batch\pap-cert.pem</value>
            </setting>
            <setting name="PathToPAPKey" serializeAs="String">
                <value>Batch\pap-key.pem</value>
            </setting>
            <setting name="PathToCertificates" serializeAs="String">
                <value>Batch\Certs</value>
            </setting>
        </CertServices.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
