<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PeersAtPlay.P2PLink.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PeersAtPlay.P2PLink.Properties.Settings>
            <setting name="UseOnlyOneThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MFBTypeDetectionServerPort1" serializeAs="String">
                <value>3478</value>
            </setting>
            <setting name="MFBTypeDetectionServerPort2" serializeAs="String">
                <value>3479</value>
            </setting>
            <setting name="StartMFBTypeDetectionServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNetworkMonitorServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReuseAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransportProtocol" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="DirectConnectionEstablishemtTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PeerAliveIntervalBasic" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="PeerAliveIntervalFirst" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PeerAliveIntervalDetail" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SendDetailedConnectionInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnectInternal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RequestNodesTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="NoDelay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLocalAddressDetection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RelayingConnectionEstablishemtTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MessageResponseTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="HandleRequestNodesTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TransportProtocolTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PingIntervalFirst" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PingInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="NumberOfAutoReconnects" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SendConnectionStatusChangedDirectly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalReceivingPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseConnectionAfterPingTimeout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HolepunchRetries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FragmentMessageSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FragmentMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxNumberOfConcurrentMessageSending" serializeAs="String">
                <value>3</value>
            </setting>
        </PeersAtPlay.P2PLink.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
