<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PeersAtPlay.P2PStorage.MySqlDHT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PeersAtPlay.P2PStorage.MySqlDHT.Properties.Settings>
            <setting name="DB_Host" serializeAs="String">
                <value>134.91.78.130</value>
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>54210</value>
            </setting>
            <setting name="DB_User" serializeAs="String">
                <value>pap</value>
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value>zwJeHQL2DxSPWTVm</value>
            </setting>
            <setting name="DB_Database" serializeAs="String">
                <value>mysqldht</value>
            </setting>
        </PeersAtPlay.P2PStorage.MySqlDHT.Properties.Settings>
    </userSettings>
</configuration>