<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PeersAtPlay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PeersAtPlay.Properties.Settings>
            <setting name="NetworkMonitorServerPort" serializeAs="String">
                <value>4455</value>
            </setting>
            <setting name="NetworkMonitorServerName" serializeAs="String">
                <value>monitor.vs.uni-due.de</value>
            </setting>
        </PeersAtPlay.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
