<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cryptool.P2P.P2PSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Cryptool.P2P.P2PSettings>
            <setting name="PeerName" serializeAs="String">
                <value>CrypTool2</value>
            </setting>
            <setting name="WorldName" serializeAs="String">
                <value>CrypTool2</value>
            </setting>
            <setting name="Log2Monitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LinkManager" serializeAs="String">
                <value>Snal</value>
            </setting>
            <setting name="Bootstrapper" serializeAs="String">
                <value>IrcBootstrapper</value>
            </setting>
            <setting name="ConnectOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkspacePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalReceivingPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DistributedJobListRefreshInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UseLocalAddressDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransportProtocol" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="Architecture" serializeAs="String">
                <value>Chord</value>
            </setting>
        </Cryptool.P2P.P2PSettings>
    </userSettings>
</configuration>